* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual h1 {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
  color: #808080;
  padding-top: 20px;
  padding-left: 20px;
}

.main {
  width: 840px;
  margin: 50px auto;
}

.box1 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.box2 {
  border-bottom: 1px solid #d1d1d1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box3 {
  border-bottom: 1px solid #d1d1d1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box4 {
  border-bottom: 1px solid #d1d1d1;
  padding-top: 30px;
  padding-bottom: 30px;
}
